body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f0f0f0;
  padding-top: 20px;
}

#canvasContainer {
  position: relative;
  width: 360px;
  height: 640px;
  margin: 0 auto;
  border: 1px solid #000;
  overflow: hidden;
  touch-action: none; /* Disable default touch actions */
}

#statusCanvas {
  position: absolute;
  top: 0;
  left: 0;
}

input[type="text"], input[type="range"], button {
  margin-top: 10px;
  font-size: 16px;
}

button {
  padding: 5px 10px;
}

label {
  font-size: 16px;
}
